.comp-header {
    position: static;
    background-color: #ddd;
    padding: 10px;
    box-shadow: 0px -15px 15px 15px #000000;
    display: flex;
    justify-content: space-between;

    img {
        height: 30px;
        cursor: pointer;
    }
}
